.gfont {
    font-family: 'Sedgwick Ave', cursive;
}

.gradient-background {
    background: linear-gradient(#ffffff, #d7e4fd);
}

.gradient-background-2 {
    background: linear-gradient(#ffffff, #f8f9fa);
}

.gradient-background-3 {
    background: linear-gradient(#f8f9fa, #ffffff);
}

legend {
    width:inherit; /* To override the full 100% width that bootstrap sets */
    padding:0 10px; 
    border-bottom:none;
}

.center {
    margin: auto;
}

ul li.error::before {
    content: "\2022";
    color: #dc3545;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.nude_link {
    text-decoration: none;
    color: inherit;
}

.nude_link a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

a.underline_link a:hover {
    text-decoration: underline;
}

#showPassword {
    text-decoration: underline;
}

.quote_style {
    line-height: 200%;
}

/* #quotes {
	background-image: url("../img/kelly-sikkema-1638623-unsplash.png") no-repeat center;
	background-color: #f8f9fa;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
} */
