.gfont {
    font-family: 'Sedgwick Ave', cursive;
}

.gradient-background {
    background: linear-gradient(#ffffff, #d7e4fd);
}

.gradient-background-2 {
    background: linear-gradient(#ffffff, #f8f9fa);
}


legend {
    width:inherit; /* To override the full 100% width that bootstrap sets */
    padding:0 10px; 
    border-bottom:none;
}

.center {
    margin: auto;
}

ul li.error::before {
    content: "\2022";
    color: #dc3545;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.nude_link {
    text-decoration: none;
    color: inherit;
}

.nude_link a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

a.underline_link a:hover {
    text-decoration: underline;
}

#showPassword {
    text-decoration: underline;
}

.quote_style {
    line-height: 200%;
}

.lg-input {
    max-width: 95%;
}

@media only screen and (max-width: 1100px) {
    .lg-input {
        max-width: 90%;
    }
  }

  @media only screen and (max-width: 900px) {
    .lg-input {
        max-width: 85%;
    }
  }


.ui-widget-overlay {
    background-image: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet); 
}

span.ui-slider-handle:active {
    background-color: red !important;
}

.bootstrap-tagsinput .tag {
    background-color:#17a2b8;
    color: white;
    border-radius: 3px;
    padding-left: 5px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
        background-color: #e83e8c;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 0 3px 3px 0;
}

/* #quotes {
	background-image: url("../img/kelly-sikkema-1638623-unsplash.png") no-repeat center;
	background-color: #f8f9fa;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
} */

#login, #logout, #nav_login, #nav_logout {
    /* display: none; */
}