body {

    /* background pattern adapted and color-adjusted from work by lea verou at https://leaverou.github.io/css3patterns/ */
    background-color: #f8f9fa;
    background-image:
        radial-gradient(circle at 100% 150%, #f8f9fa 24%, white 25%, white 28%, #f8f9fa 29%, #f8f9fa 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 0    150%, #f8f9fa 24%, white 25%, white 28%, #f8f9fa 29%, #f8f9fa 36%, white 36%, white 40%, transparent 40%, transparent),
        radial-gradient(circle at 50%  100%, white 10%, #f8f9fa 11%, #f8f9fa 23%, white 24%, white 30%, #f8f9fa 31%, #f8f9fa 43%, white 44%, white 50%, #f8f9fa 51%, #f8f9fa 63%, white 64%, white 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, white 5%, #f8f9fa 6%, #f8f9fa 15%, white 16%, white 20%, #f8f9fa 21%, #f8f9fa 30%, white 31%, white 35%, #f8f9fa 36%, #f8f9fa 45%, white 46%, white 49%, transparent 50%, transparent),
        radial-gradient(circle at 0    50%, white 5%, #f8f9fa 6%, #f8f9fa 15%, white 16%, white 20%, #f8f9fa 21%, #f8f9fa 30%, white 31%, white 35%, #f8f9fa 36%, #f8f9fa 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size: 100px 50px;
}

.wh-bkgd {
    background-color: #ffffff;
}
.gfont {
    font-family: 'Sedgwick Ave', cursive;
}

.gradient-background {
    background: linear-gradient(#ffffff, #d7e4fd);
}

.gradient-background-2 {
    background: linear-gradient(#ffffff, #f8f9fa);
}

.gradient-background-3 {
    background: linear-gradient(#ffffff 3em, #dce2e4 8em, #d0dcdf 12em);
}


legend {
    width:inherit; /* To override the full 100% width that bootstrap sets */
    padding:0 10px; 
    border-bottom:none;
}

.center {
    margin: auto;
}

.center2 {
    margin: auto;
    width: 100%;
}

ul li.error::before {
    content: "\2022";
    color: #dc3545;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.nude_link {
    text-decoration: none;
    color: inherit;
}

.nude_link a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

a.underline_link a:hover {
    text-decoration: underline;
}

#showPassword {
    text-decoration: underline;
}

#showPassword2 {
    text-decoration: underline;
}

.quote_style {
    line-height: 200%;
}

.sm-input {
    max-width: 25%;
}
.lg-input {
    max-width: 95%;
}

@media only screen and (max-width: 1100px) {
    .lg-input {
        max-width: 90%;
    }
  }

  @media only screen and (max-width: 900px) {
    .lg-input {
        max-width: 85%;
    }
  }


.ui-widget-overlay {
    background-image: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet); 
}



.bootstrap-tagsinput .tag {
    background-color:#17a2b8;
    color: #ffffff;
    border-radius: 3px;
    padding-left: 5px;
    border: 1px solid #000000;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
        background-color: #f7aeae;
        color: #000000;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 0 3px 3px 0;
}

.display-tags {
    background-color: #eef1f1;
}



#quote_jumbotron {
    margin-top: -3em;
}

#front_main {
    margin-bottom: 3em;
    padding-bottom: 0;
}

#logout_section {
   display: none; 
}

#event_toggle {
    display: none;
}

#ap_entry {
}

.sad {
    color:#fac7fa;
    background-color: #ffffff;
}
.meh {
    color: #b7b7e7;
    background-color: #ffffff;
}
.grin {
    color: #fafa5a;
    background-color: #ffffff;
}
.angry {
    color:#f7aeae;
    background-color: #ffffff;
}

.custom-delete {
    border-radius: 3px;
    border: 1px solid #dc3545;
    color: #dc3545;
    background-color: #ffffff;
    padding: 8px;
}

.custom-delete:hover, .custom-delete:active {
    background-color: #f7aeae;
    color: #ffffff;
}
